.navbar {
  background-color: #FF8C00; /* Orange background for minimalistic look */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for extra look */
  padding: 10px 20px; /* Padding inside the navbar */
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  font-family: Arial, sans-serif; /* Standard font */
}

.navbar-list {
  list-style: none; /* Remove default list styling */
  display: flex;
  gap: 140px; /* Increased space between items */
  margin: 0;
  padding: 0;
  justify-content: center; /* Center items horizontally */
}

.navbar-item {
  margin: 0;
}

.navbar-link {
  text-decoration: none; /* Remove underline from links */
  color: #ffffff; /* Light grey color for text */
  padding: 15px 20px; /* Increased padding inside the links */
  border-radius: 30px; /* Rounded corners for links */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Smooth transition for hover effect */
  font-size: 23px; /* Increase font size */
  letter-spacing: 1.5px; /* Increase spacing between letters */
  font-weight: bold; /* Make text bold */
}

.navbar-link:hover {
  animation: colorChange 1s ease forwards;
  color: #ffffff; /* White color on hover */
}

@keyframes colorChange {
  0% {
    background-color: #FF8C00; /* Base color */
  }
  100% {
    background-color: #ffa231; /* Maximum lightness color */
  }
}

.navbar-search {
  display: flex;
  align-items: center;
  margin-left: 10%; /* Add space between the search bar and the links */
  flex: 0 0 15%
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: medium;
  font-size: 16px;
}
.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-button {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #FF8C00;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #ffa231;
}