/* Panel */
.panel-advanced-search-tool {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Title */
.advanced-search-tool-title {
  font-size: 28px;
  font-family: 'Roboto', Arial, sans-serif;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

.advanced-search-tool-title:hover {
  border-color: black;
}

/* Content */
.advanced-search-tool-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Label */
.advanced-search-tool-label {
  display: block;
  text-align: center;
  font-size: 1.5em;
  margin: 0 auto;
}

/* Genres List */
.advanced-search-tool-genres-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.advanced-search-tool-genres-list label {
  display: block;
  margin: 5px 0;
}

/* Filters */
.advanced-search-filters {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.advanced-search-tool-orderby,
.advanced-search-tool-status,
.advanced-search-tool-keyword {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.advanced-search-tool-orderby-title,
.advanced-search-tool-status-title,
.advanced-search-tool-keyword-title {
  font-weight: bold;
  font-size: 1.1em;
  min-width: 120px;
}

.advanced-search-tool-orderby-content,
.advanced-search-tool-status-content,
.advanced-search-tool-keyword-type,
.advanced-search-tool-keyword-content {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  width: 50%;
  flex-grow: 0;
}

/* Apply Button */
.advanced-search-tool-apply {
  padding: 10px 20px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.3s;
  align-self: flex-start;
}

.advanced-search-tool-apply:hover {
  background-color: #005f99;
  transform: translateY(-2px);
}

/* Hide Button */
.hide-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #007bff;
}

.hide-button i {
  margin-right: 5px;
}

/* Checkbox */
.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.checkbox:hover {
  background-color: #e9e9e9;
}

.checkbox-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.checkbox-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid #000;
  margin-right: 10px;
  transition: background-color 0.3s, border-color 0.3s;
}

.checkbox-icon.unchecked {
  background-color: white;
}

.checkbox-icon.include {
  background-color: #32CD32;
}

.checkbox-icon.exclude {
  background-color: red;
}

.checkbox span {
  font-size: 16px;
  font-weight: 500;
}