/* General styling for the page */
.view-all-chapters-page {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  width: 100%;
  padding: 0 20px; /* Add padding to ensure content doesn't touch the edges */
}
.back-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
/* Styling for the back button */
.back-button {
  width: 25%;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: linear-gradient(45deg, #1e90ff, #00bfff);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-self: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  position: relative;
  overflow: hidden;
}

.back-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
  transition: left 0.3s;
}

.back-button:hover::before {
  left: 100%;
}

.back-button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.back-button .fa-arrow-left {
  margin-right: 8px;
}

/* Styling for the manga info section */
.manga-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 5px solid black; /* Add a left border for emphasis */
}

.manga-info h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.manga-info img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.manga-info-details {
  text-align: left;
  max-width: 800px;
  width: 100%;
}

.manga-info-details p {
  margin: 10px 0;
  color: #555;
  font-size: 1em;
  line-height: 1.5;
}

.manga-info-details p strong {
  font-weight: bold;
  color: #333;
}

.manga-info-details p span {
  font-weight: 600; /* Make the detail labels more noticeable */
  color: #ff9800; /* Use a color that stands out */
}

/* Styling for the manga description section */
.manga-description {
  text-align: left;
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #ff9800; /* Add a left border for emphasis */
  margin: 20px 0;
  margin-bottom: 90px;
}

.manga-description h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.manga-description p {
  color: #555;
  line-height: 1.6;
}

/* Styling for the continue reading button */
.continue-reading-button {
  background: none;
  color: #ff9800; /* Orange text */
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  margin-left: 10px;
  font-size: 1em;
  font-weight: bold;
  position: relative;
  transition: color 0.3s, font-weight 0.3s;
}

.continue-reading-button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #ff9800;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.continue-reading-button:hover {
  color: #e68900; /* Slightly darker orange on hover */
  font-weight: bolder;
}

/* Ensure the parent container is full width */
.view-all-chapters-page {
  width: 100%;
  padding: 0 20px; /* Add padding to ensure content doesn't touch the edges */
}

.chapter-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.chapter-list-header {
  font-size: 2em;
  margin-bottom: 25px;
  color: #444;
  text-align: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.chapters-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chapter-item {
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  border-left: 10px solid #007acc; /* Prominent left border for emphasis */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: block;
  width: 100%; /* Ensure the item takes the full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.chapter-item:last-child {
  margin-bottom: 0;
}

.chapter-item a {
  text-decoration: none;
  color: #007acc;
  font-size: 1.2em;
  display: block;
}

.chapter-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}