/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.search-results {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', Arial, sans-serif; /* Updated font */
}

.search-result-item {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-results-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700; /* Bold for emphasis */
}

.search-results-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.search-results-image {
  max-width: 200px;
  border-radius: 8px;
}

.search-results-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;

}

.search-results-info h2 {
  margin: 0;
  font-size: 22px; /* Slightly smaller than title */
  font-weight: 700; /* Bold for emphasis */
  color: #333;
}

.search-results-info h3 {
  margin: 0;
  font-size: 18px; /* Smaller than h2 */
  font-weight: 500; /* Medium weight */
  color: #666;
}

.search-results-info p {
  margin: 5px 0;
  font-size: 16px; /* Base font size */
  color: #555;
}

.search-results-info strong {
  font-weight: 700; /* Bold for emphasis */
  color: #333;
}

.search-results-info .latest-chapter {
  font-size: 18px; /* Same as h3 */
  color: #007bff;
  font-weight: 700; /* Bold for emphasis */
}

.error-message {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', Arial, sans-serif; /* Updated font */
}

.remove-bookmark-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #cc0000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-bookmark-button:hover {
  background-color: red;
}

.search-result-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent, assuming it's styled like an h2 */
  font-size: inherit; /* Inherit font size from parent */
  font-weight: inherit; /* Inherit font weight from parent */
}

.search-result-link:hover {
  color: #1e90ff; /* Change color to a more blue shade on hover */
}

.bookmark-search-results-info {
  font-family: Arial, sans-serif;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.bookmark-search-results-info p {
  margin: 5px 0;
}

.bookmark-search-results-info p strong {
  font-weight: bold;
}

.bookmark-search-results-info p:first-child {
  font-size: 1.05em; /* Larger font size for Updates */
}

/* Style for buttons */

.chapter-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  position: absolute;
  bottom: 10px; 
  left: 10px; 
}

.bookmark-search-results-info .next-chapter-button,
.bookmark-search-results-info .continue-reading-button,
.bookmark-search-results-info .view-all-chapters {
  font-size: 0.9em; /* Slightly smaller font size */
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.bookmark-search-results-info .remove-bookmark-button {
  background-color: #ff4d4d;
  color: white;
}

.bookmark-search-results-info .next-chapter-button {
  background-color: #4caf50;
  color: white;
}

.bookmark-search-results-info .continue-reading-button {
  background-color: #2196f3;
  color: white;
}

.bookmark-search-results-info .view-all-chapters {
  background-color: #ff9800;
  color: white;
}

/* Existing styles */
.login-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the start (top) */
  height: 100vh;
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px; /* Add margin to push it down from the top */
}

.login-icon {
  font-size: 3em;
  color: #007acc;
  margin-bottom: 10px;
}

.login-message {
  font-size: 1.2em;
  color: #333;
}

.bookmark-item {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.all-read .unseen-text {
  color: #28a745; /* Green for all read */
}

.not-read .unseen-text {
  color: #dc3545; /* Red for not read */
}

.hide-seen-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 5px;
}
/* Styling for the back button */
.hide-seen-button {
  width: auto;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: linear-gradient(45deg, #1e90ff, #00bfff);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-self: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  position: relative;
  overflow: hidden;
}

.hide-seen-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
  transition: left 0.3s;
}

.hide-seen-button:hover::before {
  left: 100%;
}

.hide-seen-button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.hide-seen-button .fa-arrow-left {
  margin-right: 8px;
}